{% extends "jsparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Change Password</h1>   
            <form method="post">
                {% csrf_token %}
                <table class="table text-dark ">
                    <tr>
                        <td>Enter Old Password</td>
                        <td>
                            <input type="text" name="oldpassword" class="form-control text-dark bg-light">
                        </td>
                    </tr>
                    <tr>
                        <td>Enter New Password</td>
                        <td>
                            <input type="text" name="newpassword" class="form-control text-dark bg-light">
                        </td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td>
                            <input type="text" name="cnfpassword" class="form-control text-dark bg-light">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            
                        </td>
                        <td><button type="submit" class="btn btn-success">Change</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock body %}
